In [1]:
import pandas as pd, numpy as np, os
import matplotlib.pyplot as plt
import matplotlib.backends.backend_pdf
from matplotlib.backends.backend_pdf import PdfPages

In [2]:
output_dir = '/ihme/costeffectiveness/results/vivarium_ciff_sam/v5.3.1_itn/ciff_sam/2022_01_25_17_48_21/count_data/'

In [3]:
figname = 'model_5.3.1'

In [4]:
os.listdir(output_dir)

['wasting_transition_count.hdf',
 'wasting_transition_count.csv',
 'wasting_state_person_time.hdf',
 'deaths.csv',
 'wasting_state_person_time.csv',
 'deaths.hdf',
 'disease_transition_count.csv',
 'births.csv',
 'population.csv',
 'stunting_state_person_time.hdf',
 'ylds.csv',
 'ylls.csv',
 'disease_state_person_time.csv',
 'population.hdf',
 'ylls.hdf',
 'ylds.hdf',
 'disease_state_person_time.hdf',
 'births.hdf',
 'disease_transition_count.hdf',
 'stunting_state_person_time.csv']

In [5]:
births = pd.read_csv(output_dir +'births.csv').drop(columns='Unnamed: 0')
birth_count = births.loc[births.measure=='total_births']
bw_sum = births.loc[births.measure=='birth_weight_sum']
lbw_sum = births.loc[births.measure=='low_weight_births']
birth_count.head()

,sex,year,measure,input_draw,scenario,value,insecticide_treated_nets,maternal_supplementation,maternal_malnutrition
1536,female,2022,total_births,29,baseline,0.0,covered,bep,cat2
1537,female,2022,total_births,29,baseline,0.0,uncovered,bep,cat2
1538,female,2022,total_births,29,baseline,0.0,covered,mmn,cat2
1539,female,2022,total_births,29,baseline,0.0,uncovered,mmn,cat2
1540,female,2022,total_births,29,baseline,1397.0,covered,ifa,cat2

In [7]:
birth_count.scenario.unique()

array(['baseline', 'lbwsg_interventions', 'sqlns', 'wasting_treatment'],
      dtype=object)