In [3]:
%cd ..

/ihme/homes/beatrixh/vivarium_research_ciff/wasting_transitions

In [4]:
from set_background_vals import *

/share/code/beatrixh/miniconda/envs/vivarium/lib/python3.6/site-packages/tables/nodes/filenode.py:258: DeprecationWarning: tostring() is deprecated. Use tobytes() instead.
  b[:n] = self._node.read(start, stop).tostring()
/ihme/homes/beatrixh/vivarium_research_ciff/wasting_transitions/set_background_vals.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wasting_exp['sex_id'] = np.where(wasting_exp['sex'] == 'Male', 1, 2)
/ihme/homes/beatrixh/vivarium_research_ciff/wasting_transitions/set_background_vals.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wasting_exp['age_group_id'] = np.where(wasting_exp['age_start'] == 0, 4, 5)

In [1]:
import pandas as pd, numpy as np

In [10]:
art = Artifact('/ihme/costeffectiveness/artifacts/vivarium_ciff_sam/ethiopia.hdf', filter_terms=['year_start == 2019', f'age_end <= 5'])
art_wasting_exp = art.load('risk_factor.child_wasting.exposure').reset_index()

/share/code/beatrixh/miniconda/envs/vivarium/lib/python3.6/site-packages/tables/nodes/filenode.py:258: DeprecationWarning: tostring() is deprecated. Use tobytes() instead.
  b[:n] = self._node.read(start, stop).tostring()

In [11]:
wasting_exposures.head()

parameter,sex,age_start,age_end,year_start,year_end,cat1,cat2,cat3,cat4
0,Female,0.000000,0.019178,2019,2020,0.055065,0.113655,0.209650,0.621630
1,Female,0.019178,0.076712,2019,2020,0.053223,0.111500,0.207686,0.627591
2,Female,0.076712,1.000000,2019,2020,0.050631,0.117514,0.225722,0.606134
3,Female,1.000000,5.000000,2019,2020,0.025305,0.095432,0.235557,0.643706
4,Male,0.000000,0.019178,2019,2020,0.040159,0.106410,0.218904,0.634527

In [14]:
def set_wasting_prev(age_start, sex, draw):
    
    wasting_exposures = art_wasting_exp.set_index(['sex', 'age_start', 'age_end', 'year_start', 'year_end']).pivot(columns='parameter')['draw_0'].reset_index()
    df = wasting_exposures.loc[
        (wasting_exposures.sex==sex) &
        (wasting_exposures.age_start==age_start)
    ]

    p_1 = float(df.cat1)
    p_2 = float(df.cat2)
    p_3 = float(df.cat3)
    p_4 = float(df.cat4)
    
    return p_1, p_2, p_3, p_4

In [17]:
dur_cat3 = 365
f_1, f_2, f_3, f_4 = set_wasting_prev(age_start = 1.0, sex = 'Female')

In [18]:
0.00357142857142857*(7.0*dur_cat3*f_1 - 4.0*dur_cat3*f_2 + 280.0*f_3)/(dur_cat3*f_4)

-0.00013257556954053969